.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>* {
        width: 100%;
        margin: 2rem;
        box-sizing: border-box;
    }
}
mat-card {
    box-sizing: border-box;
    margin: 1rem;
}
.btn-submit {
    width: 20% !important;
}