<div id="forgotPasswordForm">
    <mat-card>
        <form [formGroup]="this.forgotPwForm" (submit)="onSubmit()">
            <mat-icon style="font-size: 24pt;">person_search</mat-icon>
            <h2>Change Your Password</h2>
            <mat-form-field>
                <input type="text" matInput placeholder="Username" [formControl]="this.forgotPwForm.get('username')" type="text" name="edtTxtUsername" />
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" [formControl]="this.forgotPwForm.get('password')" type="password" name="edtTxtPassword" />
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Repeat Password" [formControl]="this.forgotPwForm.get('passwordRepeat')" type="password" name="edtTxtPasswordRepeat" />
            </mat-form-field>
            <button [disabled]="!this.checkPassword()" color="primary" mat-raised-button type="submit" name="btnSubmit">Submit</button>
        </form>
    </mat-card>
</div>