#forgotPasswordForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>mat-card {
        width: 40%;
        height: 40%;


        &>form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}

mat-form-field {
    display: block;
    width: 40%;
}
button {
    width: 40%;
}
h2 {
    text-align: center;
    width: 100%;
}