<div class="page">
    <h3 style="text-align: center; margin-top: 1rem;">Engineering Change Order Types</h3>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd" style="margin: 2rem;">
        <div class="column" *ngFor="let type of ecoTypes" style="margin-bottom: 0.5rem;">
            <mat-card matRipple (click)="this.navigateToEdit(type.id)" style="min-height: 4rem; display: flex; justify-content: center; align-items: center;" >
                <p [innerText]="type.name"></p>
                <p [innerText]="type.emailAlias"></p>
            </mat-card>
        </div>
    </div>
</div>